<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="courses"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'ADDSTUDENTGRADE' | uppercase | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="add-student-grade">
    <form id="addStudentGrade-form" [formGroup]="validations_form" (ngSubmit)="addStudentGrade()">
        <ion-list id="addStudentGrade-info">
            <ion-item id="addStudentGrade-studentID">
                <ion-label>
                    {{ 'ID' | translate }}
                </ion-label>
            </ion-item>
            <ion-item id="addStudentGrade-studentIDInput">
                <ion-input type="number" min="20201800" max="20301800" formControlName="id" value="" placeholder="Enter Student ID" #studentId id="studentidinput" required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.id">
                    <div class="error-message" *ngIf="validations_form.get('id').hasError(validation.type) && (validations_form.get('id').dirty || validations_form.get('id').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- <ion-item id="addStudentGrade-semesterGrade">
                <ion-label>
                    {{ 'GRADETYPE' | translate }}
                </ion-label>
                <ion-select [(ngModel)]="gradetype" [ngModelOptions]="{standalone: true}" slot="end"
                    [interfaceOptions]="customPopoverOptions" interface="popover"
                    placeholder="{{ 'SELECTGRADETYPE' | translate }}" id='gradeType'
                    (ionChange)="onSelectChange($event)" #gradeType aria-required="required">
                    <ion-select-option value="{{grade.type}}" *ngFor="let grade of coursaSemesterGrades">
                        {{grade.type}}
                    </ion-select-option>
                </ion-select>
            </ion-item> -->
            <div *ngIf="coursedata">
                <ion-list id="addStudentGrade-Info">
                    <ion-item id="addStudentGrade-semesterGrade">
                        <ion-label>
                            {{ 'GRADETYPE' | translate }}
                        </ion-label>
                        <ion-select [(ngModel)]="grade" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTGRADETYPE' | translate }}" id='gradeType' (ionChange)="onSelectChange($event)" #gradeType
                            aria-required="required">
                            <ion-select-option *ngFor="let grade of coursedata.grades" value="{{grade.type}}">
                                {{grade.type}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </div>

            <ion-item id="addStudentGrade-score">
                <ion-label>
                    {{ 'SCORE' | translate }}
                </ion-label>
            </ion-item>
            <ion-item id="addStudentGrade-socreInput">
                <ion-input type="number" placeholder="Enter Student grade" id="studentscoreinput" min="0" max="100" formControlName="grade" value="" #score required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.grade">
                    <div class="error-message" *ngIf="validations_form.get('grade').hasError(validation.type) && (validations_form.get('grade').dirty || validations_form.get('grade').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <br>
            <ion-button id="addStudentGrade-addStudentGradeBtn" type="submit" expand="block" [disabled]="!validations_form.valid || grade==null" class="ionBtn ionBtn-success" value="AddStudentGrade">
                <ion-icon name="add" slot="start"></ion-icon>
                {{ 'ADDSTUDENTGRADE' | translate }}
            </ion-button>
        </ion-list>

    </form>

</ion-content>