<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="mycourses"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'ATTENDANCESHEET' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="attendancesheet" *ngIf="courseCode1">
    <ion-list class="ion-padding">
        <table id="table_id" class="table table-hover table-light display">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col" *ngFor="let lectures of coursedata">Week {{lectures.lectureNumber}}</th>
                    <th scope="col">Total ({{lecturesnumber}})</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userdata of usertotalattendancetotal;index as i;">
                    <th scope="row">{{userdata.user._id}}</th>
                    <td>{{userdata.user.name}}</td>
                    <td *ngFor="let fdata of things[i]">{{fdata.status}}</td>
                    <th scope="row">{{userdata.totalattendance.totalattendance}}</th>
                </tr>
            </tbody>
        </table>
        <br>
        <ion-button type="submit" expand="block" color="light" *ngIf="isTeacher" [routerLink]="['/course/semester/students-attendance-report',courseCode1.courseCode,courseCode1.semesters[0].semester_time]" value="attendanceReport">
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
            {{ 'ATTENDANCEREPORT' | translate }}
        </ion-button>
    </ion-list>
</ion-content>