<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="settings"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'CHANGEPASSWORD' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="change-password">
    <form id="confirmPassword-form" [formGroup]="validations_form" (ngSubmit)="changePassword()">
        <ion-list id="confirmPassword-info">
            <div formGroupName="matching_passwords">
                <ion-item id="confirmPassword-password">
                    <ion-label>
                        {{ 'NEWPASSWORD' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item id="confirmPassword-passwordInput">
                    <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" id="passwordinput" #password required></ion-input>
                    <ion-icon [name]="passwordToggleIcon" slot="end" (click)="togglePassword()"></ion-icon>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
                <ion-item id="confirmPassword-confirmPassword">
                    <ion-label>
                        {{ 'CONFIRMPASSWORD' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item id="confirmPassword-confirmPasswordInput">
                    <ion-input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirm_password" id="confirmpasswordinput" #confirm_password required></ion-input>
                    <ion-icon [name]="confirmPasswordToggleIcon" slot="end" (click)="toggleConfirmPassword()"></ion-icon>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.confirm_password">
                        <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- These validations are for the form group -->
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                    <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <br>
            <ion-button id="confirmPassword-updateUserBtn" type="submit" expand="block" [disabled]="!validations_form.valid" class="ionBtn ionBtn-success" value="confirmPassword">
                <ion-icon name="sync-outline" slot="start"></ion-icon>
                {{ 'CHANGEPASSWORD' | translate }}
            </ion-button>
        </ion-list>
    </form>
</ion-content>