<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="courses"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'ADDCOURSEGRADE' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="add-course-grade">
    <form id="addCourseGrade-form" [formGroup]="validations_form" (ngSubmit)="addCourseGrade()">
        <ion-list id="addCourseGrade-info">
            <ion-item id="addCourseGrade-type">
                <ion-label>
                    {{ 'GRADETYPE' | translate }}
                </ion-label>
                <ion-select [(ngModel)]="gradetype" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTGRADETYPE' | translate }}" id='type' (ionChange)="onSelectChange($event)" #type aria-required="required">
                    <ion-select-option value="Assignment">{{ 'ASSIGNMENT' | translate }}</ion-select-option>
                    <ion-select-option value="Quiz 1">{{ 'QUIZ 1' | translate }}</ion-select-option>
                    <ion-select-option value="Quiz 2">{{ 'QUIZ 2' | translate }}</ion-select-option>
                    <ion-select-option value="Quiz 3">{{ 'QUIZ 3' | translate }}</ion-select-option>
                    <ion-select-option value="Midterm">{{ 'MIDTERM' | translate }}</ion-select-option>
                    <ion-select-option value="Practice">{{ 'PRACTICE' | translate }}</ion-select-option>
                    <ion-select-option value="Final">{{ 'FINAL' | translate }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item id="addCourseGrade-grade">
                <ion-label>
                    {{ 'GRADE' | translate }}
                </ion-label>
            </ion-item>
            <ion-item id="addCourseGrade-gradeInput">
                <ion-input type="number" min="0" max="100" formControlName="grade" id="gradeinput" value="" placeholder="Enter Grade" #grade required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.grade">
                    <div class="error-message" *ngIf="validations_form.get('grade').hasError(validation.type) && (validations_form.get('grade').dirty || validations_form.get('grade').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <br>
            <ion-button id="addCourseGrade-addCourseGradeBtn" type="submit" expand="block" [disabled]="!validations_form.valid || gradetype==null" class="ionBtn ionBtn-success" value="AddCourseGrade">
                <ion-icon name="add" slot="start"></ion-icon>
                {{ 'ADDCOURSEGRADE' | translate }}
            </ion-button>
        </ion-list>

    </form>

</ion-content>