<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="users"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'PROFILE' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div *ngIf="userdata">
        <h1 id="user-profile-id">
            {{userdata._id}}
        </h1>
        <ion-list>
            <ion-item>
                <ion-label>
                    <p>{{ 'NAME' | translate}}</p>
                    <h3>{{userdata.name}}</h3>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <p>{{ 'EMAIL' | translate}}</p>
                    <h3>{{userdata.email}}</h3>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <p>{{ 'ROLE' | translate}}</p>
                    <h3>{{userdata.role}}</h3>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <p>{{ 'DATEOFJOIN' | translate}}</p>
                    <h3>{{userdata.dataOfJoin}}</h3>
                </ion-label>
            </ion-item>
            <ion-item *ngIf="usercredithours && isStudent">
                <ion-label>
                    <p>{{ 'FINISHEDHOURS' | translate}}</p>
                    <h3>{{usercredithours}}</h3>
                </ion-label>
            </ion-item>
            <ion-item *ngIf="nohours && isStudent">
                <ion-label>
                    <p>{{ 'FINISHEDHOURS' | translate}}</p>
                    <h3>{{nohours}}</h3>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label *ngIf="isTeacherOrStudent">
                    <p>{{ 'COURSES' | translate}}</p>
                    <ion-button id="user-profile-info-coursesBtn" *ngIf="userdata" value="View" [routerLink]="['/user/courses/',userdata._id]" shape="round" class="ionBtn">
                        <ion-icon name="eye" slot="start"></ion-icon>
                        {{ 'VIEWCOURSES' | translate}}
                    </ion-button>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>