<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="routers"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'MANAGEROUTER' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<!-- [formGroup]="validations_form" -->
<ion-content class="ion-padding">
    <form [formGroup]="validations_form">
        <ion-list>
            <ion-item>
                <ion-label>
                    {{ 'LOCATIONID' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="number" formControlName="locationId" id="locationId" maxlength="5" placeholder="Enter Location ID" #locationId required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.locationId">
                    <div class="error-message" *ngIf="validations_form.get('locationId').hasError(validation.type) && (validations_form.get('locationId').dirty || validations_form.get('locationId').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <ion-label>
                    {{ 'NAME' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="text" formControlName="name" id="locationNameinput" placeholder="Enter Location Name" #locationName required>
                </ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <ion-label>
                    {{ 'ROUTERADDRESS' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="text" min="0" max="140" formControlName="routerAddress" placeholder="Enter Router's Address" id="routerAddressinput" #routerAddress required>
                </ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.routerAddress">
                    <div class="error-message" *ngIf="validations_form.get('routerAddress').hasError(validation.type) && (validations_form.get('routerAddress').dirty || validations_form.get('routerAddress').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <br>
            <ion-row>
                <ion-col size="6">
                    <ion-button id="manageRouter-updateRouterBtn" type="submit" expand="block" [disabled]="!validations_form.valid" (click)="updateRouter()" class="ionBtn ionBtn-success" value="updateRouter">
                        <ion-icon name="sync-outline" slot="start"></ion-icon>
                        {{ 'UPDATEROUTER' | translate }}
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button id="manageRouter-deleteRouterBtn" type="submit" expand="block" [disabled]="!validations_form.get('locationId').valid" (click)="deleteRouter()" class="ionBtn ionBtn-danger" value="deleteRouter">
                        <ion-icon name="trash" slot="start"></ion-icon>
                        {{ 'DELETEROUTER' | translate }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-list>
    </form>

</ion-content>