<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="isAdmin" defaultHref="courses"></ion-back-button>
            <ion-back-button *ngIf="isTeacherOrStudent" defaultHref="mycourses"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'NOTIFICATIONS' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>